<section id="process">
  <div class="slabel">{{ 'PROCESS.LABEL' | translate }}</div>
  <h2 class="stitle">{{ 'PROCESS.TITLE' | translate }}</h2>
  <p class="ssub">
    {{ 'PROCESS.SUBTITLE' | translate }}
  </p>
  <div class="pgrid2">
    @for (step of processSteps; let i = $index; track step.id) {
      <div class="pstep r" [ngClass]="'d' + (i + 1)" [attr.data-testid]="'process-step-' + step.id">
        <div class="psnum">{{ ('PROCESS.STEP' + step.id + '_NUM') | translate }}</div>
        <div class="pstitle">{{ ('PROCESS.STEP' + step.id + '_TITLE') | translate }}</div>
        <p class="psdesc">{{ ('PROCESS.STEP' + step.id + '_DESC') | translate }}</p>
      </div>
    }
  </div>
</section>
