<section id="contact">
  <div class="slabel">{{ 'CONTACT.TITLE' | translate }}</div>
  <h2 class="stitle">{{ 'CONTACT.FORM_HEADING_PRE' | translate }}<em>{{ 'CONTACT.FORM_HEADING_EM' | translate }}</em></h2>
  <div class="cwrap">
    <div class="r">
      <p class="clede">
        {{ 'CONTACT.SUBTITLE' | translate }}
      </p>
      <div class="cms">
        @for (link of contactLinks; let i = $index; track link.main) {
          <a [href]="link.href" class="cm" [attr.data-testid]="'contact-link-' + link.main">
            <div class="cicon">{{ link.icon }}</div>
            <div>
              <div class="cmain">{{ (getContactLinkKey(i) + 'MAIN') | translate }}</div>
              <div class="csub">{{ (getContactLinkKey(i) + 'SUB') | translate }}</div>
            </div>
          </a>
        }
      </div>
      <div class="rpromise">
        <span class="rdot"></span>{{ 'CONTACT.FORM_RESPONSE_TIME' | translate }}
      </div>
    </div>
    <div class="r d2">
      <form class="cform" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="frow">
          <div class="fg">
            <label class="flbl">{{ 'CONTACT.FORM_NAME_LABEL' | translate }}</label
            ><input
              class="fi"
              type="text"
              [placeholder]="'CONTACT.FORM_NAME_PLACEHOLDER' | translate"
              formControlName="name"
              data-testid="contact-name-input"
            />
          </div>
          <div class="fg">
            <label class="flbl">{{ 'CONTACT.FORM_EMAIL_LABEL' | translate }}</label
            ><input
              class="fi"
              type="email"
              [placeholder]="'CONTACT.FORM_EMAIL_PLACEHOLDER' | translate"
              formControlName="email"
              data-testid="contact-email-input"
            />
          </div>
        </div>
        <div class="fg">
          <label class="flbl">{{ 'CONTACT.FORM_PROJECT_LABEL' | translate }}</label
          ><input
            class="fi"
            type="text"
            [placeholder]="'CONTACT.FORM_PROJECT_PLACEHOLDER' | translate"
            formControlName="project"
            data-testid="contact-project-input"
          />
        </div>
        <div class="fg">
          <label class="flbl">{{ 'CONTACT.FORM_MESSAGE_LABEL' | translate }}</label
          ><textarea
            class="fta"
            [placeholder]="'CONTACT.FORM_MESSAGE_PLACEHOLDER' | translate"
            formControlName="message"
            data-testid="contact-message-textarea"
          ></textarea>
        </div>
        <button
          type="submit"
          class="fsub"
          [style.background]="isSubmitted() ? '#10b981' : ''"
          data-testid="contact-submit-btn"
        >
          {{ submitButtonText() }}
        </button>
      </form>
    </div>
  </div>
</section>
