<section id="experience">
  <div class="slabel">{{ 'EXPERIENCE.TITLE' | translate }}</div>
  <h2 class="stitle">{{ 'EXPERIENCE.SUBTITLE' | translate }}</h2>
  <div class="tl">
    @for (item of experienceItems; let i = $index; track item.role) {
      <div class="tli r" [attr.data-testid]="'experience-' + item.role">
        <div class="tdot" [class.live]="item.isLive"></div>
        <div class="tperiod">
          {{ (getExperienceKeyPrefix(i) + '_PERIOD') | translate }}
          @if (item.badge) {
            <span class="tbadge">{{ (getExperienceKeyPrefix(i) + '_BADGE') | translate }}</span>
          }
          @if (item.workType) {
            <span class="tbadge worktype-{{ item.workType }}">{{ getWorkTypeKey(item.workType) | translate }}</span>
          }
        </div>
        <div class="trole">{{ (getExperienceKeyPrefix(i) + '_ROLE') | translate }}</div>
        <div class="tco">{{ (getExperienceKeyPrefix(i) + '_COMPANY') | translate }}</div>
        @for (par of getDescParagraphs(i); track $index) {
          <p class="tdesc" [innerHTML]="par"></p>
        }
        <ul class="tbuls">
          @for (bullet of getBulletIndexes(item.bullets.length); track $index) {
            <li>{{ (getExperienceKeyPrefix(i) + '_BULLET' + bullet) | translate }}</li>
          }
        </ul>
        <div class="ttechs">
          @for (tech of item.techs; track tech) {
            <span class="ttag">{{ tech }}</span>
          }
        </div>
      </div>
    }
  </div>
</section>
